awsfilepolling/src/main/mule/awsfilepolling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sns="http://www.mulesoft.org/schema/mule/sns" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:s3="http://www.mulesoft.org/schema/mule/s3"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sns http://www.mulesoft.org/schema/mule/sns/current/mule-sns.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1ea70bbb-a037-431c-8daa-ce5a989fa019" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<sns:config name="Amazon_SNS_configuration" doc:name="Amazon SNS configuration" doc:id="dd44135b-d42b-49c4-8796-05b519d73a27" >
		<sns:basic-connection accessKey="AKIAJWKZDPLHRO4WPP7A" secretKey="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" />
	</sns:config>
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="545543eb-a343-4995-9054-f526f0bfe7a1" >
		<s3:basic-connection accessKey="AKIAJWKZDPLHRO4WPP7A" secretKey="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" />
	</s3:config>
	<flow name="awsfilepollingFlow" doc:id="0e9aa3fa-b75d-42d5-9f27-f814b200b05a" >
		<http:listener doc:name="Listener" doc:id="e7951150-231b-4a41-ba75-0104d9a2e066" config-ref="HTTP_Listener_config" path="/awsmsg"/>
		<ee:transform doc:name="Transform Message" doc:id="939ecdc6-b434-4379-80b4-1c36620ecbdc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c87df1a8-bf57-48f3-9153-66d61f6a0b87" message="payload is #[payload]"/>
		<s3:get-object doc:name="Get object" doc:id="02d1ebc0-4694-4590-8672-3bc05fdc9cea" config-ref="Amazon_S3_Configuration" bucketName="bucket-apisero-pritam" key="#[payload..key]"/>
		<logger level="INFO" doc:name="Logger" doc:id="d783523e-ded8-46fb-8d43-9edc62f4db73" message="#[payload]"/>
	</flow>
</mule>
